{
    "printWidth": 260,
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "vueIndentScriptAndStyle": true,
    "arrowParens": "always"
}