#root {
  width: 100%;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.App,
#root {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
h1,
h2 {
  font-family: "Raleway";
}
h1 {
  font-size: 36px;
  font-weight: 700;
}
h2 {
  font-size: 28px;
  font-weight: 500;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
